<form (ngSubmit)="onSubmit()" autocomplete="off" [formGroup]="myForm">
    <div class="mb-3 mt-3 text-center">
        <h2>Identificacion</h2>
    </div>
    <div class="mb-3">
        <label for="identification" class="form-label">Numero de identificacion:</label>
        <input type="text" class="form-control" id="identification" formControlName="identification" placeholder="999999999">
        <span class="form-text text-danger" *ngIf="inputIsValid('identification')">El numéro de identificación es requerido. *</span>
    </div>
    <button type="submit" class="btn btn-primary float-end" [disabled]="myForm.invalid">Guardar</button>
</form>
