<form (ngSubmit)="onSubmit()" autocomplete="off" [formGroup]="myForm">
    <div class="mb-3 mt-3 text-center">
        <h2>Ingresos</h2>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Ingresos mensuales:</label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Pepe Trujillo">
        <span class="form-text text-danger" *ngIf="inputIsValid('name')">El ingreso mensual es requerido. *</span>
    </div>
    <button type="submit" class="btn btn-primary float-end" [disabled]="myForm.invalid">Guardar</button>
</form>